body{
    background-image: url(/img/bg.jpg);
    background-size: cover;
    color: black;
  }
.container-layout-table{
    background-color: aquamarine;
}

form{
    width: 150vh;
}

th,td{
    color: black;
    width: 100vh;
    font-size: 20px;
    
}

.input-modal{
    width: 65vh;
}