body{
    background-image: url(/img/bg.jpg);
    background-size: cover;
    color: black;
  }
.container-layout-table{
    background-color: aquamarine;
}

form{
    width: 150vh;
}

th,td{
    color: black;
    width: 100vh;
    font-size: 20px;
    
}

.input-modal{
    width: 35vh;
}

.ocult{
    display: inline;
}

@media screen and (max-width:530px){
    .ocult {
        display:none;
    }
}

.drop{
    display: none;

}

@media screen and (max-width:530px){
    .drop {
        display:block;
    }
    .input-modal{
        width: 35vh;
    }
}